<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Hi I'm Jann Ton</h2>
                <br>
                <%= image_tag("creative/selfie2.gif", size: "345", :alt => "rss feed") %>
                <hr class="light">
                

                <p class="text-faded">I am a second year graduate student at Mills College. My goal is to expand and extend my knowledge and development in the computer science field. I will be graduating in May, spring of 2016 and will be seeking a full time position as a software engineer.<br><br>

                 I enjoy the complexity behind implementing and developing functionalities that are efficient and effective. I also find it satisfying to gain a deeper understanding of varying programming languages and technologies to optimize software or applications. Overall I would love to obtain more exposure and experience in creating core computational logic of websites, software, or informations systems to enhance my skills as a developer.<br><br>

                 On my free time I enjoy traveling, trying new foods, and visiting museums and gardens. When I am not doing the activities listed above I love to partake in arts and crafts and share them with friends and family!</p>
            </div>
        </div>
    </div>
</section>


