<header>
    <div class="header-content">
        <div class="header-content-inner">
        <br><br><br><br><br>
            <h2>Aspiring Software Engineer</h2>

            
            <br>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">About Me</a>
        </div>
    </div>
</header>

