<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://polar-lowlands-5653.herokuapp.com" class="portfolio-box">
                    <%= image_tag "creative/portfolio/forgingfriendships.png", class: "img-responsive", alt: "" %>
                    
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Ruby on Rails Project
                            </div>
                            <div class="project-name">
                                Forging Friendships
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/anshulvar/Dreams-Finder" class="portfolio-box">
                    <%= image_tag "creative/portfolio/dreamsfinder.png", class: "img-responsive", alt: "" %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Ruby on Rails Project
                            </div>
                            <div class="project-name">
                                Dreams Finder
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://drive.google.com/folderview?id=0B10auy28R-SKY3dieTNiV0UyRUk&usp=sharing" class="portfolio-box">
                    <%= image_tag "creative/portfolio/database.png", class: "img-responsive", alt: "" %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                SQL Database Project
                            </div>
                            <div class="project-name">
                                Small Medical Database
                            </div>
                        </div>
                    </div>
                </a>
            </div>


        </div>
    </div>
</section>

