<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Resume</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                   <%= link_to image_tag("creative/resume.png", :height => "50%", :width => "50%"), "https://drive.google.com/open?id=0B10auy28R-SKWC11Y1MwbkpkLTg"  %>
                <h3>Resume</h3>
                <p class="text-muted">Jann's Most Up To Date Resume.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <%= link_to image_tag("creative/linkedin.png", :height => "50%", :width => "50%"), "https://www.linkedin.com/in/jannton"  %>
                    <h3>LinkedIn</h3>
                    <p class="text-muted">Jann's LinkedIn Profile.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <%= link_to image_tag("creative/github.png", :height => "59%", :width => "59%"), "https://github.com/jannton"  %>
                    <h3>Github</h3>
                    <p class="text-muted">Jann's Github Profile.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <%= link_to image_tag("creative/googlePlus.png", :height => "49%", :width => "49%"), "https://plus.google.com/u/1/+JannTon/about"  %>
                    <h3>Google+</h3>
                    <p class="text-muted">Jann's Google+ Account.</p>
                </div>
            </div>
        </div>
    </div>
</section>

